head
  title My Site
  //- //BootStrap CSS
  link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  //- //Our CSS
  link(rel='stylesheet', type='text/css', href='/css/mainCss.css')

  //-   scripts jQ and external
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous")
  script(src="/scripts/main.js")
  //- <script type='text/javascript'> var arrayData =<%-JSON.stringify(myArray)%>
  


body
  a(href='') Click here if you already have an account
  br
  br 
  

  //- When the application loads store the data lists and them use themto populate
  if results
    each data in results
      h3 #{data}

  h1 Book your appointment and register at the same time 
  //- This 
  form(method='POST' action='/regAndBookPatient')
    div
      //- store in DB
      label(for='username') username:
      input(type='text'  placeholder='username' name='username') 
    div
      //- store in DB
      label(for='password') Password
      input(type='password' placeholder='password' name='password')
    div
      //- store in DB
      label(for='name') name
      input(type='text' placeholder='name' name='name')
    div
      //- store in DB
      label(for='email') email
      input(type='email' placeholder='email' name='email')
    div
      //- store in DB
      label(for='phno') phno
      input(type='text' placeholder='phno' name='phno')
    div
      //- store in DB
      label(for='gender') gender
      input(type='text' placeholder='genderSingleLetter' name='gender')
    div
      //- store in DB
      label(for='DOB') DOB
      input(type='text' placeholder='Date Of Birth' name='DOB')
    div
      //- store in DB
      label(for='adderess') Address
      input(type='text' placeholder='address' name='address')
    div
      //- Get from Doc DB
      label(for='specilization') specilization
      input(type="hidden", name="hide", onload=`specFunction(${results})`)

      //- //- p(onchange=`specFunction(${results});`)
      //- //- (type='select', onchange="return specFunction("+[results]+")" )
      //- select(onchange=`specFunction(${results[0].spec})`) 
      //-   option(selected = true) --select--
      //-   option(value) --select--
      //-   option(selected = true) --select--
         
      //-   //- each data in results
      //-   //-   option(value=data.spec) #{data.spec}

    div
      //- Get from Doc DB 
      label(for='doctors') Docotors
      input(type='text' placeholder='doctors present' name='doctors')
    div
      //- Get from Doc DB 
      label(for='Time') Time
      input(type='text' placeholder='Time the doctor is available interavel' name='time')
    div
      //- Get from Doc DB
      label(for='Duration') Duration
      input(type='text' placeholder='Duration of the visit' name='duration') 
    div
      //- store in DB
      label(for='Note') Note
      input(type='text' placeholder='Note' name='note')
            
    button(type='submit') Log in         